<html>
{{> head}}
<body>

<div class="container">
  <div class="row text-center">
    <h1>Name Server</h1>
    <hr>
  </div> <!-- row text-center -->

  <div class="row">
    {{text}}
  </div> <!-- row -->
</div> <!-- container -->


</body>
</html>
