<html>
{{> head}}
<body>

  <div class="container">
    <div class="row text-center">
      <h1>Name Server</h1>
      <h2>{{title}}</h2>
      <hr>
    </div> <!-- row text-center -->

    {{#each patients}}
    <div class="row">
      First: {{first}}<br>
      Last: {{last}}<br>
      File: {{file}}
      <hr>
    </div> <!-- row -->
    {{/each}}
  </div> <!-- container -->


</body>
</html>
